html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*, *:before, *:after{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit;}
select::-ms-expand{display:none;}
input[type=text]::-ms-clear{display:none;}
img{border:0;max-width:100%;height:auto;}
:focus{outline:0;}
a{outline:none;text-decoration:none;}
textarea,select,input[type="search"],input[type="text"],input[type="button"],input[type="submit"]{-webkit-appearance:none;}
.verticalCenter{display:table;width:100%;height:100%;}
.verticalInner{display:table-cell;vertical-align:middle;}
ul,li{list-style:none;}
a:hover{text-decoration:none;}

body{margin:0;padding:0;font-family:'Titillium Web', sans-serif;font-weight:400;color:#000000;line-height:1.2;background:#f3f6f9;}
.top_click { display:none; }

h1{font-size: 25px; font-weight: 700;}
h2{ font-size: 18px; font-weight: 700;}

/* ------- Header css -------------- */
header{position:fixed;top:0;width:100%;height:79px;background:#fff;z-index:12;}
header .logo{    width: 100px; text-align: center;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: #7239ea; transition: 0.3s ease-in-out;
  height: 80px;}

  header .logo.bigwidth{ width: 210px;}

  header .logo a{ margin-top: 20px; display: block;}

header .searchbox{float:right;width:auto;position:relative;margin-right:15px;}
header .searchbox input[type="search"]{float:left;width:240px;height:33px;padding:0px 40px 0px 10px;overflow:hidden;box-sizing:border-box;letter-spacing:1px; border:0;border-bottom:1px solid #ddd;border-radius:0px;font-weight:400;}
header .searchbox input[type="submit"]{border:0;background:url(/assets/media/search-icon.png) 0 7px no-repeat;height:30px;width:20px;position:absolute;right:5px;cursor:pointer;transition:0.3s ease-out;}
header .searchbox input[type="submit"]:hover{background-position:0 -20px;}
header .searchbox input[type="submit"]:focus{outline:0;}

.right_menu{display:flex;justify-content:flex-end;height:100%;align-items:center;padding-right:25px;}
ul.top_menu{display:flex;align-items:center;}
ul.top_menu li{padding:0 15px;position:relative;}
ul.top_menu li a{position:relative;}
ul.top_menu li a span.pop{background:#7239ea;width:25px;height:25px;display:flex;border-radius:50%;color:#fff;align-items:center;justify-content:center;font-size:12px;position:absolute;top:-15px;right:-17px;}
 ul.top_menu li i{color:#000;font-size:20px;}
ul.top_menu .drop_down_bg{float:left;width:250px;height:auto;border-radius:6px;background-color:#f7f7f7;position:absolute;right:0px;top:35px;box-shadow:0 2px 22px rgb(0 0 0 / 4%);padding:10px;z-index:9;display:none;}
ul.top_menu .drop_down_bg:after{content:"";position:absolute;top:-10px;right:10px;text-align:center;width:0;height:0;border-left:12px solid transparent;border-right:12px solid transparent;border-bottom:16px solid #f7f7f7;}
ul.top_menu .drop_down_bg li{float:left;width:100%;padding:5px 10px !important}
ul.top_menu .drop_down_bg li a {
  font-size: 15px;
  font-weight: 400;
  color: #000;
  float: left;
  width: 100%;
  border-bottom:0;
  padding-bottom: 15px;
}
ul.top_menu .drop_down_bg li i{font-size:15px;padding-right:10px;}
ul.top_menu .drop_down_bg li a:hover, .drop_down_bg li a:hover i{color:#7239ea;}
ul.top_menu li:hover .drop_down_bg{display:block;}


.bellHight{height:300px;}
ul.top_menu  .drop_down_bg.bell_drop_down{float:left;width:340px; right: 4px; }
.notif_box{float:left;width:100%;position:relative;}
.notif_tag{float:left;width:100%;margin:5px 0;text-align:left;border-bottom:1px solid #ddd;padding-bottom:10px;}
.notif_tag .notif_img{display:inline-block;width:40px;height:40px;border-radius:50%;overflow:hidden;background:#000;vertical-align:middle;}
.notif_tag .notif_img img{width:100%;height:100%;object-fit:cover;}
.notif_tag .notif_name{display:inline-block;vertical-align:middle;margin:0 10px;color:#000000;font-size:15px;font-weight:700;}
.notif_tag .notif_name b {
  display: block;
  color: #a3a3a3;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 3px;
}


ul.top_menu li.profile{width:45px;height:45px;border-radius:10px;margin-left:20px;padding:0 !important;}
ul.top_menu .drop_down_bg.profile_drop_down{width:150px; top:48px}
.profile_drop_down li{float:left;width:100%;padding:5px 10px;}
.profile_drop_down li a{font-size:14px;font-weight:400;color:#000;float:left;width:100%;border-bottom:1px solid #ddd;padding-bottom:10px;}
.profile_drop_down li i{font-size:15px;padding-right:10px;}
.profile_drop_down li a:hover{color:#7239ea;}

/* ------- start left side -------------- */

.left_side{position:fixed;left:0;top:80px;width:100px;height:100%;background:#7239ea;z-index:11; transition: 0.3s ease-in-out;}
.left_side:hover{ width:210px;}
.left_side nav{margin-top:30px; margin-left: 25px;}
.left_side nav li{float:left;width:100%;text-align:left;margin:10px 0;position:relative;}
.left_side nav li .iconbg{transition:0.3s ease-in-out;width:45px;height:45px;display:inline-flex;border-radius:10px;align-items:center;justify-content:center;text-decoration:none !important;}
.left_side nav li i{color:#fff;font-size:20px !important;font-weight:100;}
.left_side nav li .title{position:absolute;left:60px;top:13px;font-size:15px;color:#fff;font-weight:600;display:none;transition:0.5s ease-in-out;}
.left_side:hover .title{display:block;}
.left_side nav li a.active .iconbg, .left_side nav li a:hover .iconbg{background:#fff;}
.left_side nav li a.active i, .left_side nav li a:hover i{color:#7239ea;}


/* ------- middle css -------------- */

.main_middle{width:1000px;margin:150px auto 0 auto;}
.write_post{border-radius:5px;padding:3px 10px;background:#fff;display:flex;width:100%;align-items:center;height:90px;justify-content:flex-start;border:1px solid #e1e1e1;margin-bottom:30px;}
.write_post .team_slider{width:70px;margin-right:30px;}
.write_post .team_slider li img{ border-radius: 5px;}
.write_post .team_slider .slick-prev{position:absolute;right:-22px;top:1px;text-indent:-9999px;border:0;background:#f3f6f9;width:17px;height:20px;border-radius:10px 10px 0px 0px;box-shadow:0 0 10px #eee;cursor:pointer;}
.write_post .team_slider .slick-prev:before{content:"";border:solid black;border-width:0 2px 2px 0;display:inline-block;padding:3px;transform:rotate(226deg);-webkit-transform:rotate(226deg);left:5px;top:7px;position:absolute;}
.write_post .team_slider .slick-next{position:absolute;right:-22px;bottom:6px;text-indent:-9999px;border:0;border-top:1px solid #b7b7b7;background:#f3f6f9;width:17px;height:20px;border-radius:0 0 10px 10px;box-shadow:0 0 10px #eee;cursor:pointer;}
.write_post .team_slider .slick-next:before{content:"";border:solid black;border-width:0 2px 2px 0;display:inline-block;padding:3px;transform:rotate(45deg);-webkit-transform:rotate(45deg);left:5px;top:7px;position:absolute;}
.write_post textarea{background:none;width:calc(100% - 270px);border:0;resize:none;margin:0px 10px;font-size:18px;font-weight:600;color:#909090;letter-spacing:0.075em;padding-top:20px;}
.write_post .right_links{width:310px;}
.write_post .right_links a, .write_post .right_links .post_img{padding:0 10px;display:inline-block;}
.right_links .post_img{ position: relative;}
.right_links .image_box {
    position: absolute;
    left: -20px;
    border: 1px solid #ddd;
    width: 70px;
    height: 59px;
    top: -10px;
}
.right_links .image_box img{ object-fit: cover; width: 100%; height: 100%;}

.right_links .image_box .remove {
    position: absolute;
    top: -14px;
    right: -5px;
    font-size: 8px;
    font-weight: 700;
    background: #ddd;
    border-radius: 50%;
    /* padding: 5px; */
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 16px; cursor: pointer;
}
.write_post .right_links a:nth-child(4){border-right:1px solid #dbdbdb;border-left:1px solid #dbdbdb;}
.three_nav{display:flex;border-bottom:1px solid #000;margin-bottom:30px; width: 100%;}
.three_nav li a{display:block;color:#202028;padding:10px 48px 10px 0;font-size:18px;font-weight:700;}
.for-you{float:left;width:100%;}
.post{float:left;width:100%;position:relative;background:#fff;padding:20px;border-radius:10px;margin-bottom:20px;}
.post .heads{display:flex;width:100%;align-items:center;}
.post .heads .user{width:67px;height:67px;border-radius:10px;overflow:hidden;}
.post .heads .user img{width:100%;height:100%;object-fit:cover;}
.post .heads h4{font-size:18px;color:#000;letter-spacing:0.075em;font-family:'Rubik', sans-serif;font-weight:400;padding-left:30px;}
.post .left_details{float:left;width:70px;height:375px;display:flex;justify-content:center;align-items:center;flex-direction:column;}
.post .left_details a{display:flex;flex-direction:column;align-items:center;color:#000;margin:20px 0;}
.post .left_details a i{font-size:25px;}
.post .right_details{float:right;width:calc(100% - 95px);}
.post .right_details .post_data{float:left;width:100%;border-radius:10px;background:#dfdfdf;height:375px;}

.users_share_box{display:flex;width:100%;align-items:center;justify-content:space-between;padding:25px 0;}
.users_share_box .more_user{display:flex;align-items:center;}
.users_share_box .more_user a{width:30px;height:30px;display:inline-block;margin-right:5px;position:relative;}
.users_share_box .more_user a img{object-fit:cover;width:30px;height:30px;border-radius:50%;}
.users_share_box .more_user a.more{border:1px solid #b2b2b2;color:#b2b2b2;text-align:center;font-weight:300;font-size:11px;line-height:26px;border-radius:50%;}
.users_share_box .more_user .others{font-size:15px;font-weight:700;color:#000;padding-left:20px;}
.users_share_box .shere{ width: 240px;}
.users_share_box .shere a{color:#000;font-size:15px;font-weight:400;display:inline-flex;align-items:center;margin-left:20px;}
.users_share_box .shere a i{font-size:25px;margin-right:10px;}
.users_share_box .shere .three_dots{display:inline-block;vertical-align:middle;margin:0 0 0 10px;position:relative;}
.users_share_box .shere .three_dots_dropdown{position:absolute;width:100px;display:inline-block;z-index:10;background:#fff;padding:10px;box-shadow:2px 6px 8px rgba(0, 0, 0, 0.02);right:0;top:20px;border-radius:10px;display:none;}
.users_share_box .shere .three_dots:hover .three_dots_dropdown{display:block;}
.users_share_box .shere .three_dots_dropdown li a{float:left;width:100%;padding:3px 0;color:#000;font-size:13px;font-weight:400;}
.users_share_box .shere .three_dots_dropdown li a:hover{color:#7239ea;}

.online{width:7px;height:7px;display:inline-block;border-radius:50%;background:#accd53;position:absolute;left:0;border:1px solid #fff;}
.offiline{width:7px;height:7px;display:inline-block;border-radius:50%;background:#c5c5c5;position:absolute;left:0;border:1px solid #fff;}

.add_comment_box{display:flex;align-items:center;width:100%;justify-content:space-between;}
.add_comment_box .add_comments{border-radius:5px;padding:3px 10px;background:#f3f6f9;display:flex;width:100%;align-items:center;justify-content:space-around;}
.add_comment_box .add_comments textarea{background:none;width:80%;border:0;resize:none;margin:0px 10px;font-size:14px;font-family:'Rubik', sans-serif;font-weight:400;color:#a4a4a4;letter-spacing:0.075em;padding-top:20px;}
.add_comment_box .add_comments .user{width:33px;height:33px;border-radius:5px;overflow:hidden;}
.add_comment_box .add_comments .user img{width:100%;height:100%;object-fit:cover;}
.add_comment_box .add_comments .gif{background:#e1e1e1;display:inline-flex;padding:5px 4px;margin:0 5px;border-radius:5px;font-size:15px;font-family:'Rubik', sans-serif;font-weight:400;color:#323232;height:26px;letter-spacing:0.075em;}
.add_comment_box .add_comments .smile{background:#e1e1e1;display:inline-flex;padding:5px 10px;border-radius:5px;font-size:15px;font-family:'Rubik', sans-serif;font-weight:400;color:#323232;height:26px;letter-spacing:0.075em;}
.add_comment_box button{border-radius:5px;padding:17px 20px;background:#f3f6f9;border:0;margin-left:10px;}

.post_comments{border-radius:5px;padding:20px 10px 10px 10px;background:#f3f6f9;float:left;width:100%;align-items:center;margin-top:20px;}
.post_comments .pop_comment{display:inline-block;background:#e1e1e1;font-size:16px;font-weight:700;width:auto;padding:3px 9px;border-radius:5px;margin-bottom:20px;}
.post_comments p{color:#19191d;font-size:18px;font-weight:700;}

.comments_point{display:flex;width:100%;align-items:center;margin:20px 0 20px 0px;}
.comments_point .user{width:38px;height:38px;border-radius:5px;overflow:hidden;margin-right:10px;}
.comments_point .user img{width:100%;height:100%;object-fit:cover;}
.comments_point .fire{margin-right:10px;}
.comments_point .fire img{display:block;}
.comments_point h3{font-size:12px;color:#19191d;font-weight:700;margin-right:10px;}
 .comments_point .create{font-size:11px;color:#19191d;font-weight:500;margin-right:10px;background:#e1e1e1;padding:3px 10px;border-radius:5px;}
.comments_point .days{color:#858585;font-size:10px;font-weight:500;margin-right:10px;}
.comments_point .pinned{font-size:11px;margin-right:10px;color:#fff;font-weight:500;background:#7239ea;padding:3px 10px;border-radius:5px;}
.loadmore{float:left;width:100%;text-align:center;border-top:1px solid #69696a;padding:20px 0;margin-top:20px;}
.loadmore a{font-size:12px;color:#000;font-weight:700;text-transform:uppercase;}

/* ------- Right side Css -------------- */


.right_side{position:fixed;right:20px;top:100px;width:255px;height:100%;z-index:9;padding-bottom:100px;}
.recent_activity{float:left;width:100%;position:relative;}
.recent_activity h2{font-size:13px;color:#202028;font-weight:600;margin-bottom:20px;text-transform:uppercase;}
.recent_activity a.hideShow{position:absolute;top:0;right:10px;font-size:12px;color:#202028;font-weight:600;}
.recent_activity a.hideShow i{font-size:14px;color:#202028;font-weight:600;}
.recent_activity a.hideShow .fa-angle-up{display:none;}
.recent_activity a.hideShow.up .fa-angle-up{display:inline-block;}
.recent_activity a.hideShow.up .fa-angle-down{display:none;}

.white_box{float:left;width:100%;padding:20px;border-radius:5px;background:#fff;margin:0 0 20px 0;}
.white_box .activity_tag{float:left;width:100%;margin:5px 0;text-align:left;border-bottom:1px solid #ddd;padding-bottom:10px;}
.white_box .activity_tag .act_img{display:inline-block;width:30px;height:30px;border-radius:5px;overflow:hidden;background:#000;vertical-align:middle;}
.white_box .activity_tag .act_img img{object-fit:cover;width:100%;height:100%;}
.white_box .activity_tag .act_name{display:inline-block;width:calc(100% - 65px);vertical-align:middle;margin:0 10px;color:#202028;font-size:12px;font-weight:600;}
.white_box .activity_tag .act_name b{display:block;color:#a3a3a3;font-size:10px;text-transform:uppercase;}

.freind_request .activity_tag a{display:flex;align-items:center;justify-content:space-between;}
.freind_request .activity_tag .act_name{width:80px;}
.freind_request .activity_tag .accept{background:#7239ea;font-size:10px;color:#fff;font-weight:700;text-transform:uppercase;padding:2px 5px;border-radius:5px;}
.freind_request .activity_tag .close{background:#f3f6f9;font-size:10px;color:#777777;font-weight:700;text-transform:uppercase;padding:2px 5px;border-radius:5px;}

.suggested_player .all{position:absolute;top:0;right:20px;color:#000;font-size:14px;font-weight:400;}
.suggested_player li{float:left;width:33%;text-align:center;margin-bottom:20px;}
.suggested_player li a{display:inline-block;position:relative;}
.suggested_player li a .online{left:inherit;right:0;bottom:25px;}
.suggested_player li a .name{font-size:12px;color:#000;font-weight:700;}
.suggested_player li .img_thumb{width:47px;height:47px;border-radius:50%;overflow:hidden;}
.suggested_player li .img_thumb img{width:100%;height:100%;object-fit:cover;}
.suggested_player li.disable a{pointer-events:none;}
.suggested_player li.disable .img_thumb img{opacity:0.4;-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-o-filter:grayscale(100%);-ms-filter:grayscale(100%);filter:grayscale(100%);}
 
.my_team .team{display:flex;}
 .my_team .team li:last-child a{background:#ececec;width:20px;height:20px;border-radius:50%;color:#000;font-size:15px;display:block;margin-top:10px;}
 .my_team .mng{position:absolute;top:0;right:20px;color:#000;font-size:14px;font-weight:400;}
 .my_team .team li{text-align:center;}
 .my_team .team li a{color:#000;font-size:11px;font-weight:400;}
 .my_team .create_team{float:left;width:100%;background:#ececec;border:0;margin:20px 0;padding:15px 10px;border-radius:5px;font-weight:700;}
 .my_team p{color:#000;font-size:11px;font-weight:700;text-align:center;}
 .my_team .grey_bg{display:flex;width:100%;background:#ececec;border:0;margin:20px 0;padding:15px 10px;border-radius:5px;font-weight:700;}
 .team_match .match_name{font-size:12px;color:#202028;font-weight:700;}
 .team_match .match_time{display:flex;justify-content:space-between;margin:20px 0;}
 .team_match .match_time b{font-weight:700;}
 .team_match .match_time span{color:#000;font-size:11px;font-weight:700;}
 .team_match .team{display:flex;justify-content:space-between;text-align:center;}
 .team_match .team li{text-align:center;}
 .team_match .team li img{display:block;width:60px;height:60px;}
 .team_match .team li a{color:#000;font-size:12px;font-weight:700;}



 /* -------------- input type file ----------------- */

 .right_links input[type=file] {
    cursor: pointer;
    width: 32px;
    height:28px;
    overflow: hidden;
  }
  
  .right_links input[type=file]:before {
    width: 32px;
    height: 28px;
    content: '';
    display: inline-block;
    background:url("/assets/media/image-icon.png") 0 0 no-repeat;
  }
  
  .right_links input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
  }




  /* ----------- Chating css ---------------------- */


  .card {
    margin-bottom: 1.875rem;
    background-color: #fff;
    transition: all .5s ease-in-out;
    position: relative;
    border: 0rem solid transparent;
    border-radius: 1.25rem;
    box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgb(82 63 105 / 5%);
    height: calc(100% - 30px);
}

  .chatbox {
    position: fixed;
    width: 300px;
    background: #fff;
    z-index: 99;
    display: block;
    height: 100%;
    top: 0;
    box-shadow: 0 0 10px #ddd;
    right: -300px; transition: all 0.8s;
}

.tab_box { position: relative; }
.tab_box .tabs {
  background: #7239ea;
  width: 100%;
  float: left;
  padding: 20px 0 10px 0;
}
.tab_box .tabs ul {
  display: flex;
  justify-content: space-between;
}

.tab_box .tabs ul a{ color: #fff; text-transform: uppercase; font-size: 14px; font-weight: 400;}
.tab_box .tabs ul li.active a, .tab_box .tabs ul li:hover a{ border-bottom: 1px solid #fff;}

.tab_data{ float: left; width: 100%; height: 100vh; position: absolute; top:50px; z-index: 999; left: 0; padding-bottom: 50px;}
.tab_data .hide{ display: none;}

.chatbox .contacts .name-first-letter {
  background: #F8F8F8;
  font-weight: 700;
  color: #000;
  position: relative;
  top: 0;
  z-index: 1; font-size: 14px;
}

.chatbox .contacts li {
  padding: 0.4375rem 1rem;
  border-bottom: 0.0625rem solid #eee;
  cursor: pointer;
}

.chatbox .contacts li > div {
  display: flex;
  align-items: center;
}

.chatbox .user_info span {
  font-size: 0.9375rem;
  color: #000;
  display: block;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0.3125rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  max-width: 10.625rem;
}

.chatbox .user_info p {
  font-size: 0.8125rem;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  max-width: 10.625rem;
}
.chatbox .img_cont {
  width: 2.5rem;
  border-radius: 2.5rem;
  margin-right: 0.625rem;
  position: relative;
  height: 2.5rem;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.875rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
}

.chatbox .img_cont .online_icon.offline {
  background: #f72b50;
}

.chatbox .img_cont .online_icon {
  background: #68e365;
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.9375rem;
  right: -0.0625rem;
  bottom: 0rem;
  border: 0.125rem solid #fff;
}



.ms-auto {
  margin-left: auto !important;
}

.sharp.btn-xs {
  padding: 0.1875rem;
  width: 1.625rem;
  height: 1.625rem;
  min-width: 1.625rem;
  min-height: 1.625rem;  line-height: 15px;
}

.sharp.btn-xs i{font-size: 12px; color: #fff; }



.chatbox .chat-list-header {
  justify-content: space-between;
  background: #fff; display: flex;
}

.chatbox .chat-list-header a {
  text-align: center;
  width: 1.875rem;
  height: 1.875rem;
  background: #F8F8F8;
  border-radius: 0.375rem;
  line-height: 1.875rem;
  display: block;
}

.chatbox .card-header p {
  line-height: 1.2;
  font-size: 0.75rem;
  color: #393939;
}

.chatbox .card-header h6{ font-size: 14px;}
  

.chatbox .img_cont_msg {
  width: 1.875rem;
  height: 1.875rem;
  display: block;
  max-width: 1.875rem;
  min-width: 1.875rem;
}

.chatbox .img_cont_msg img {
  width: 100%;
  height: 28px;
  object-fit: cover;
}
.rounded-circle {
  border-radius: 50% !important;
}

.chatbox .msg_cotainer {
  background: var(--primary);
  margin-left: 0.625rem;
  border-radius: 0 1.25rem 1.25rem 1.25rem;
  padding: 0.625rem 0.9375rem;
  color: #fff;
  position: relative;
}

.chatbox .msg_cotainer .msg_time {
  display: block;
  font-size: 0.6875rem;
  color: #fff;
  margin-top: 0.3125rem;
  opacity: 0.5;
}

.chatbox .msg_cotainer:after {
  content: "";
  position: absolute;
  left: -0.625rem;
  border-right: 0.625rem solid var(--primary);
  border-bottom: 0.625rem solid transparent;
  border-top: 0rem solid;
  top: 0;
}

.chatbox .msg_cotainer_send {
  background: #F8F8F8;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.375rem 0rem 0.375rem 0.375rem;
  margin-right: 0.625rem;
  color: #222;
  position: relative;
  text-align: right;
}

.chatbox .msg_cotainer_send .msg_time_send {
  display: block;
  font-size: 0.6875rem;
  text-align: right;
  margin-top: 0.3125rem;
  opacity: 0.6;
}

.chatbox .msg_cotainer_send:after {
  content: "";
  position: absolute;
  right: -0.625rem;
  border-left: 0.625rem solid #F8F8F8;
  border-bottom: 0.625rem solid transparent;
  border-top: 0rem solid;
  top: 0;
}

.chatbox .type_msg .btn {
  font-size: 1.125rem;
  border-radius: 2.375rem !important;
  width: 2.375rem;
  height: 2.375rem;
  padding: 0;
  margin-top: 0.375rem;
}

.chatbox .type_msg .form-control {
  padding:10px;
  height: 3.125rem;
  border: 0;
  resize: none;
}

.chatbox .chatbox-close {
  position: absolute;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  width: 0;
  height: 100%;
  right:300px;
  background: #000;
  z-index:15;
  opacity: 0.1;
  cursor: pointer;
}

.chatbox.active .chatbox-close {
  width: 100vw;
}

.chatbox.active {
  right: 0;
}


  /* -------------Profile css --------------------- */

  .main_middle.profile_middle{ width: 1200px;}


  .profile_box{ float: left; width: 100%; position:relative; }
  .profile_box .profile_cover_photo{ position: absolute; width: 100%; height: 400px; left: 0; top:0;}
  .profile_box .profile_cover_photo img{ height: 400px; width: 100%; object-fit: cover;}
  .profile_dp_box{ display: flex;  ;padding: 25px; justify-content: space-between; position: relative;     margin-top: 285px; }
  .profile_dp_box .profile_pic{ width: 155px; height: 155px; border:5px solid #202028; border-radius: 10px; margin-right: 25px;}
  .profile_dp_box .profile_pic img{ object-fit: cover; width: 100%; height: 100%; border-radius: 5px;}
  .profile_dp_box .profile_details{ float: left; width: calc(100% - 160px);}
  .profile_dp_box .top_details{ display: flex;}
  .profile_dp_box .top_details .name_box{ display: flex;  flex-direction: column; color: #fff;}
  .profile_dp_box .top_details .name_box .game_name{ font-size: 27px; font-weight: 700;}
  .profile_dp_box .top_details .name_box .name{font-size: 17px;  font-weight: 400;  line-height: 30px;}
  .profile_dp_box .top_details .name_box .follower{font-size: 15px;  font-weight: 600;}
  .profile_dp_box .top_details .flag{ margin:5px 10px 0 10px;}
  .profile_dp_box .top_details .tick .active{ margin-top: 5px; font-size: 11px; color: #fff; text-align:center; line-height: 20px; width: 22px; height: 22px; display: inline-block; border-radius: 50%; border:1px solid #000; background: #7239ea;}
  .profile_dp_box .top_details .tick .active .fa{ padding-top: 5px;}
  .profile_dp_box .top_details .button a{ margin-left: 10px; background: #7239ea; color: #fff; font-size: 11px; text-align: center; padding: 5px 20px; border-radius: 10px;}
  .profile_dp_box .top_details .button a:hover{ background: #000;}
  .profile_dp_box .bottom_details{display: flex;     justify-content: space-between;}
  .profile_dp_box .bottom_details .current_status{ display: flex;}
  .profile_dp_box .bottom_details .current_team, .profile_dp_box .bottom_details .game_role{ display: flex; flex-direction: column; align-items: center;margin: 20px 15px}
  .profile_dp_box .bottom_details .current_team{ border-right:1px solid #ddd; padding-right: 20px;}
  .profile_dp_box .bottom_details .ct{font-size: 13px;  font-weight: 400;}
.profile_dp_box .bottom_details .were{font-size: 17px;  font-weight: 700; padding-top: 10px;}
.profile_dp_box .bottom_details .were i{ font-size: 11px;}
.profile_dp_box .bottom_details .badges {display: flex;align-items: center; justify-content: center;}
.profile_dp_box .bottom_details .badges img{ margin-left: 5px;}
.bottom_details .badges h5{ font-size: 11px; font-weight: 500; text-transform: uppercase;}

.bio_box{ float: left; width: 100%; background: #fff; padding: 20px; display: flex; justify-content: space-between; border-top: 1px solid #ddd; padding-top: 20px;}
.bio_box .left_bio{ width: 50%;}
.bio_box .left_bio .top_bio{ display: flex; margin-bottom: 20px;}
.bio_box .left_bio .top_bio h3{ font-weight: 700; margin-right: 10px; font-size: 17px;}
.bio_box .left_bio .top_bio .socail a{ color: #000; margin-right: 10px;}
.bio_box  .games {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: flex-start;
}

.bio_box .games h2{ margin-right: 20px;}
.bio_box .games a{ margin-right: 20px;}

.bio_box .right_bio{width: 40%; }
.game_btn{ background: #7239ea; border:0; width: 100%; font-size: 18px; font-weight: 600; color:#fff; padding: 10px 20px; border-radius: 10px; text-align: center;}
.bio_box .right_bio ul{ display: flex; justify-content: space-around; margin-top: 20px;}
.bio_box .right_bio ul li{ display: inline-block; text-align: center;}
.bio_box .right_bio ul li .name{display: block; color: #000; font-size: 13px; text-transform: uppercase; padding: 5px 0;}
.bio_box .right_bio ul li .num{display: block; color: #7239ea; font-size: 13px;}



.profile_tab_btn { float:left; width:100%; margin:30px 0 0 0; padding:20px 20px 10px 20px; border-bottom: 1px solid #ddd;}
.profile_tab_btn li{ display:inline-block; list-style:none; position: relative; margin-right: 10px; }
.profile_tab_btn li a{ color:#000; text-transform: uppercase; font-size: 12px; padding-right: 10px;}
.profile_tab_btn li.active:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 4px solid #7239ea;
  left: 0;
  bottom: -12px;
}

.prfoile_tab_data { float:left; width:100%; }
.prfoile_tab_data .tab{ float:left; width:100%; margin:20px 0 0 0; min-height: 200px;}
.prfoile_tab_data .hide{ display:none;}

.profile_left_post{ float: left; width: 48%;}
.profile_left_post .post .left_details{height: 210px; width: 50px;}
.profile_left_post .post .right_details .post_data{ height: 210px;}
.profile_left_post .users_share_box .more_user .others{ font-size: 11px; }
.profile_left_post .users_share_box .shere a{ font-size: 11px; margin-left: 5px;}
.profile_left_post .users_share_box .shere a i{ font-size: 16px;}
.profile_left_post .users_share_box .more_user a{width: 20px; height: 20px;}
.profile_left_post .users_share_box .more_user a img{ width: 20px; height: 20px;}
.profile_left_post .users_share_box .more_user a.more{width: 20px; height: 20px; line-height: 18px;}


.profile_left_post .post .heads .user{ width: 50px; height: 50px;}

.profile_left_post .post .left_details a{ margin: 10px 0;}

.profile_left_post .post .right_details{width: calc(100% - 60px);}

.profile_left_post .users_share_box .shere {width: 165px;}

.profile_left_post .post .left_details a i {
  font-size: 15px;
}
.profile_left_post .post_comments .pop_comment{ font-size: 13px;}
.profile_left_post .post_comments p{ font-size: 14px;}


.profile_match_details{ float:right; width: 48%;}

.all_stats{ background: #fff; border-radius: 10px; padding: 20px;}

.all_stats ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.all_stats ul li {
  flex: 1 1 30%; display: flex; min-height: 50px; padding: 20px 0;
}

.all_stats ul li img{ filter: invert(); height: 40px;}
.all_stats ul li .num{ display: block; font-size: 24px; font-weight: 700;}
.all_stats ul li .names{ font-size: 12px; font-weight: 600; color: #2d2d22; text-transform: uppercase;}
.all_stats ul li i{ padding:3px 0 0 15px;}

.games_details{background: #fff; border-radius: 10px; padding: 20px; margin-top: 50px;}
.games_details li{ float: left; width: 48%; padding-bottom: 20px;}
.games_details li:first-child{ float: left; width: 100%;}
.games_details li:last-child{ float: left; width: 100%;}
.games_details li:nth-child(2n){ float: left;}

.games_details li .nm{ float: left; width: 120px; font-size:14px; font-weight: 600; color: #2d2d22;}
.games_details li .task{ font-size: 14px; font-weight: 600; color: #2d2d22;}
.games_details .game_btn{ font-size: 12px; margin-top: 20px;}
.games_details .chart_box img{ width: 100%;}


/* -------------- Team Page ------------------ */

.profile_dp_box .bottom_details.team_details{ margin-top: 15px;}
.bottom_details.team_details h5{ font-size: 17px; font-weight: 700; text-transform: uppercase; margin-right: 20px;}
.bottom_details.team_details .current_status{align-items: center;}
.bottom_details.team_details .ct{ font-size: 17px; font-weight: 700; display: flex;}
.bottom_details.team_details .ct i{ color: #00a651; margin-top: 5px; margin-right: 5px;}
.bottom_details.team_details .were{  font-size: 10px; text-transform: uppercase; padding-top: 5px;}

.team_pos{ margin-top: 20px;}
.team_pos li{ display: flex;     align-items: center; margin-top: 10px;}
.team_pos li .position{ width: 90px;  font-size: 12px; font-weight: 500; text-transform: uppercase;}
.team_pos li .imgs {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 10px;
}

.team_pos li .pos_name{ font-size: 10px; font-weight: 400; text-transform: uppercase;}
.team_pos li .imgs img{ width: 100%; height: 100%; object-fit: cover;}

.bio_box .right_team_bio {
  width: 50%; border-left: 1px solid #ddd; padding-left: 5%;
}

.bio_box .right_team_bio .position{ width: auto; margin-right: 10px; }
.bio_box .right_team_bio .team_pos img{ display: inline-block; vertical-align: middle; filter: invert();}

.sponser{ margin-top: 50px;}
.sponser ul {
  display: flex;
  align-items: center;
  justify-content: space-between; padding: 20px; border-radius: 10px;
}

.bio_box .right_team_bio  h5{ font-size: 12px; font-weight: 700; padding-bottom: 20px;}



.product_box { padding:40px 0 90px }

.product_box .product-img-box { width:52%; float: left; margin-left:0px; }
.product_box .product-img-box .slick-slide img { width:100%;  }
.product_box .product-img-box .prod_big_thumb { overflow:hidden; padding:0 10%; position:relative; background:#fff; }
.product_box .slide-box { height:670px; width:100%; position:relative; overflow:hidden; padding-top: 20px; }

.product_box .slider-nav { margin:30px 0 0; background:#fff; padding:0 9%; }
.product_box .slider-nav .slick-slide{ width:20%; padding:0; margin:0 0.5%; border:1px solid #ededed;} 
.product_box .slider-nav .slick-slide.slick-current{ border:1px solid #ff8121;}
.product_box .slick-slide .slider-nav img { width:120px; height:120px; cursor:pointer;  }
.product_box .product-img-box .view-image img { width:100%; height:auto; }


.product_box .product-img-box .slick-prev{position:absolute;left:-22px;top:45%;text-indent:-9999px;border:0;width:17px; background: none; height:20px;cursor:pointer;}
.product_box .product-img-box .slick-prev:before{content:"";border:solid black;border-width:0 2px 2px 0;display:inline-block;padding:5px;transform:rotate(135deg);-webkit-transform:rotate(135deg);left:5px;top:7px;position:absolute;}
.product_box .product-img-box .slick-next{position:absolute;right:-22px;top:45%;text-indent:-9999px;border:0; background: none; width:17px;height:20px;cursor:pointer;}
.product_box .product-img-box .slick-next:before{content:"";border:solid black;border-width:0 2px 2px 0;display:inline-block;padding:5px;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);left:5px;top:7px;position:absolute;}

.product_box .product-detail-box { padding:0px; margin:0 0 0 50px; width:42%; float:right; }
.product_box .product-detail-box h1 { margin:-11px 0 0px; padding: 0px 0 0; color: #061b4e; font-size: 30px; line-height: normal; word-break: break-all; text-transform:uppercase; }
.product_box .product-detail-box span.subtitle { padding:8px 0 5px; display:block; color: #061b4e; font-size:16px; text-transform:uppercase }
.product_box .product-detail-box p { font-size:14px; padding:0 0 10px; }
.product_box .product-detail-box .price { padding:18px 0; margin:15px 0; border-bottom:1px solid #ededed; font-size:30px; color:#061b4e }
.product_box .product-detail-box .price del { padding-left:15px; color:#d3d3d3; }
.product_box .product-detail-box .price span.discount { font-size:12px; color:#ff8121 }
.product_box .product-detail-box span.product-id { display:block }
.product_box .product-detail-box span.product-status { display: block; padding: 15px 0 0; }
.product_box .product-detail-box a.size-guide { padding:0 0 8px; display:block; text-align:right; color:#000; text-decoration: underline; }


.size-option ul { list-style:none; margin: 20px 0; }
.size-option ul li { padding:0 12px; border-radius: 10px; width:47%; display:inline-block; line-height:42px; border: 1px solid #dbdbdb; position:relative }
.size-option ul li:first-child { margin-right:4%; }
.size-option ul li:after { position:absolute; content:""; top:43%; right:10px; border:4px solid transparent; border-top:6px solid #061b4e; }
.size-option ul li a { display:block; color: #061b4e; }
.size-option ul li a:hover, .size-option ul li.active a { text-decoration:none; }
.size-option ul li.active { border-bottom: 10px solid #fff; background:#fff; -webkit-box-shadow: 0px 0px 11px rgba(47, 47, 47, 0.8); -moz-box-shadow: 0px 0px 11px rgba(47, 47, 47, 0.8); box-shadow: 0px 0px 11px rgba(47, 47, 47, 0.8); }
.size-option ul li.active:after { top: 28%; -webkit-transform: rotate(-180deg); -webkit-transition: -webkit-transform .5s ease;
transform: rotate(-180deg); transition: -webkit-transform .5s ease;
transition: transform .5s ease;
transition: transform .5s ease, -webkit-transform .5s ease;
}
.size-option .size-chart { padding-bottom:5px; width:419px; max-height: 320px; position:absolute; display:none; background:#fff; z-index:999; left:-1px; top:44px; box-shadow: 7px 5px 5px -3px rgba(47, 47, 47, 0.5), 0px 5px 10px rgba(47, 47, 47, 0.2), -7px 5px 5px -3px rgba(47, 47, 47, 0.2); }
.size-chart.qty { left:auto; right:-1px; }
.size-chart ul { display:block !important }
.size-chart ul li { padding:0 18px 0 20px; border:0px; border-radius: 0; border-bottom:1px solid #dbdbdb; display:block; line-height:38px; width:auto; margin:0px !important; }
.size-chart ul li:last-child { border-bottom:0px; }
.size-chart ul li:after { display:none; }
.size-chart ul li.selected { background:#7239ea; color:#fff; }
.size-chart ul li.selected span { color:#fff; }
.size-chart span { position:absolute; right: 5%; top: 4%; display:block; color:#7239ea; }
.size-chart a.chart-back { padding:5px 0 0; color:#505050; font-size:12px; text-decoration:underline !important; display:block; }
.size-chart a.chart-back:hover { color:#7239ea; text-decoration:underline; }
.size-option.shipping_price li { width:100%; margin:0 0 20px 0; }
.size-option.shipping_price .size-chart { width: 428px; }


.like_view{ margin-top: 20px;} 
.art, .view, .like{ background: #ddd; border-radius: 3px; padding: 10px 20px; display: inline-block; color: #000; font-size: 14px; text-transform: capitalize;}
.review{ float: left; width: 100%; margin-top: 20px;}
.review .rev_txt{ font-size: 12px; color: #000; text-transform: uppercase; padding-left: 20px;}
.review .rev_txt b{ color: #7239ea;}

.cart-row a{ background: #1bd75e; border-radius: 30px; border:1px solid #1bd75e; padding: 10px 10px; width: 220px;}
.cart-row a:last-child{ background: #7239ea; border:1px solid #7239ea;}
.brief{ font-size: 14px; line-height: 25px;}


.products li{ float: left; width: 23.5%; margin-right: 2%; margin-bottom: 20px; background: #fff; padding: 20px 2%; border-radius: 10px;}
.products li:nth-child(4n){ margin-right:0}
.products li .pro_img{ width: 100%; position: relative; }
.products li .pro_img .size_option{ position: absolute; color: #fff; font-size: 12px; display: none; padding: 5px 10px; top:-20px; border:1px solid #ff3744; border-radius: 20px; background: #000; right: 0;}
.products li .pro_img:hover .size_option{ display: block;}
.products li .pro_img img{width: 100%; height: 250px; object-fit: cover; border-radius: 10px;}
.products li .name_dots{display: flex; justify-content: space-between; margin-top: 10px; align-items: center;}
.products li .name_dots h4{ text-transform: uppercase; font-size: 12px; font-weight: 700;}
.products li .name_dots a{color:#000;}
.products li .stars{display: flex; justify-content: flex-start; margin-top:10px;      align-items: center;}
.products li .stars a{ color: #7239ea; margin-right: 5px;}
.products li .stars .price{ margin-left: 10px; text-transform: uppercase; font-size: 12px; font-weight: 700;}
.products li .likes{ float: right; text-transform: uppercase; font-size: 12px; font-weight: 700;}
.products li .likes a{ color:#000;}

/* ------------- Discovery page ------------- */

.white_bg{ float: left; width: 100%; background: #fff; padding: 20px; border-radius: 5px;}

.discovery_page{ float: left; width: 100%;padding: 20px; border-radius: 10px;}
.discovery_page .tit span, .discovery_page .tit i{ background: #dfdfdf; display: inline-block; color: #000; 
  font-size: 18px; font-weight: 700; letter-spacing: -1px; padding:5px 10px; border-radius: 5px;}
  .discovery_page .tit i{     padding: 12px 10px;
    margin-top: 6px;
    margin-left: 5px;
    display: inline-block;}

  .discovery_page .tit span .icon{ background: #561cde; padding: 5px; display:inline-block; border-radius: 5px; margin-right: 10px;}

  .other_logo{     display: none  !important;
    transition: 0.3s ease-in-out;
    vertical-align: middle;
    padding: 9px 0 !important;
    width: 20px !important;
    margin: -5px 1px 0 3px;}
  .other_logo img{ width: 25px;}
  .discovery_page .tit:hover .other_logo{ display: inline-block !important}

.discovery_page h3{ text-transform: uppercase; font-size: 14px; font-weight: 700; display: inline;  margin-right: 20px;}
.profile_tab_btn.discover_tab_btn{ border:0; padding: 0;}
.profile_tab_btn.discover_tab_btn li{ float: left; background: #dfdfdf; width: 19.2%; margin-right: 1%; border-radius:5px;}
.profile_tab_btn.discover_tab_btn li:last-child{ margin-right: 0;}
.discover_tab_btn.profile_tab_btn li a{ color: #000; text-align: center;  width: 100%; padding: 15px 0; display: block; font-size: 15px;}
.discover_tab_btn.profile_tab_btn li.active, .discover_tab_btn.profile_tab_btn li:hover{ background: #7239ea; color: #fff;}
.discover_tab_btn.profile_tab_btn li.active a, .discover_tab_btn.profile_tab_btn li:hover a{ color: #fff;}
.discover_tab_btn.profile_tab_btn li.active:after{ display: none;}

.team_search{ display: flex; justify-content: space-between; margin-top: 20px;  background: #fff; }
.team_search .searchbox {display: flex;width: auto;position: relative;align-items: center; }
.team_search .searchbox input[type="search"]{float:left;width:350px;height:33px;padding:0px 40px 0px 10px;overflow:hidden;box-sizing:border-box;letter-spacing:1px; border:0;border-bottom:1px solid #ddd;border-radius:0px;font-weight:400;}
.team_search .searchbox input[type="submit"]{border:0;background:url(/assets/media/search-icon.png) 0 7px no-repeat;height:30px;width:20px;position:absolute;right:5px;cursor:pointer;transition:0.3s ease-out;}
.team_search .searchbox input[type="submit"]:hover{background-position:0 -20px;}
.team_search .searchbox input[type="submit"]:focus{outline:0;}

.team_search .advance {display: flex;justify-content: space-between;align-items: center;align-content: center;}
.team_search .advance .views {margin-right: 20px;font-size: 13px;color: #000;display: flex;align-items: center;}
.team_search .advance .views .custom-checkbox{ margin-left:10px;}

.team_filter{display: flex;justify-content: space-between;align-items: center;align-content: center; margin-top:50px;}

.team_filter .dropdown-menu a{ font-size: 13px; font-weight: 300; color:#000}
.team_filter  .btn { border-right:1px solid #ddd}
.team_filter .dropdown-menu input{ margin-left: 10px;}

.team_filter .drop_downs {
  display: flex;
  width: 60%;
  justify-content: flex-start; flex-wrap: wrap; border-right: 1px solid #ddd; margin-right: 20px;
}

.team_filter .drop_downs .button-group {
  flex: 0 0 14%;
  margin-bottom: 20px;
  display: flex;
  align-items: center; margin-right: 10px;
}

.team_filter .drop_downs .button-group .custom-checkbox{ margin-left: 10px;}
.team_filter .drop_downs .button-group .dropdown-menu{ padding: 10px;}
.team_filter .drop_downs .button-group .dropdown-menu li{ position: relative;}
.team_filter .drop_downs .button-group .dropdown-menu li a{ font-size: 12px; text-transform: uppercase; font-weight: 400; color: #000;}
.team_filter .drop_downs .button-group .dropdown-menu li input{ position:absolute; right:0}

.team_filter .drop_downs .button-group .drop_name{text-transform: uppercase; font-size: 13px;}

.filters{ display: flex; width: 40%;     align-items: start; }
.filters h3{ margin-right: 10px;}
.filters .close1{ background: #7239ea; font-size: 15px; color: #fff; margin-right: 20px; border-radius: 5px; padding: 5px 10px;}
.filter_list{ display: flex; flex-wrap: wrap;}
.team_filter .filter_list .filter1{ position: relative; font-size: 11px; background: #33333c; padding: 7px 10px;  border-radius: 5px; margin-bottom: 5px; display:inline; color: #fff; margin-right: 5px;}
.team_filter .filter_list .filter1 .close2{ position: static; font-size: 12px; color: #fff;}

.team_row {
  float: left;
  width: 100%;
  padding:70px 30px 70px 80px;
  border-radius: 10px;
  background: #dfdfdf;
  color: #000; position: relative; margin-top: 20px;
  
}

.inner_team{display: flex;justify-content: space-between;align-items: center;}

.team_row span, .team_row .logo_box{ display: flex;     align-items: center;}
.team_row .stars {
  color: #000;padding: 5px 7px;position: absolute;top: 10px;left: 10px;border-radius: 5px;font-size: 25px;
}

.team_row .stars.disable{ background: none; color: #35353f;}

.team_row img{ margin: 0 3px; }
.team_row .mores img{filter: invert(100%);}
.team_row span b{ padding: 0 10px; font-size: 11px;}
.team_row .logo_box h3{ margin:0 20px;}
.team_row .logo_box .thumb_img{ width: 50px;}

.team_row span.remarks{ width: 190px; justify-content: center; text-align: center; flex-wrap: wrap;}
.team_row span.remarks h4{ color: #3db4ef; font-size: 11px;}
.team_row span.remarks h4 b{ font-size: 12px; text-transform: uppercase; color: #fff;}

.team_row .mores{ display: flex; width: 220px; justify-content: space-between;}
.team_row .mores .fa{ margin-right: 2px;}

.team_row .join{ background: #7239ea; color: #fff; padding: 10px 20px; border-radius: 5px; font-size: 12px;}




.overview_box{ float: left; width:100%; margin-top: 50px;  padding: 30px 2%; background: #dfdfdf; border-radius: 10px;}
.overview_box h2{ font-size: 20px; color: #000; font-weight: 700; text-transform: uppercase; border-bottom: 2px solid #1d1d25; margin-bottom: 20px; padding-bottom: 10px; margin: 0 5%; position: relative;}
.overview_box h2:after{ content: ""; position: absolute; width: 100px; border-bottom: 3px solid #7239ea; left: 0; bottom: 0;}

.team_overview{ display: flex;     justify-content: space-around; align-items: center; margin-top: 50px; color: #000;} 
.team_overview .over_prof {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team_overview .over_prof h3{ margin-right: 0; margin-top: 20px;}
.team_overview .pics{ width: 95px; height: 95px; background: #000; border-radius: 5px; overflow: hidden;}
.team_overview .pics img{ object-fit: cover; width: 100%; height: 100%; margin: 0;}


.team_overview h4{ font-size: 12px; text-transform: uppercase; padding-bottom: 10px;}
.team_overview p{font-size: 12px; text-transform: uppercase; font-weight: 700; padding-bottom: 20px;}

.team_overview  .ranking div{ display: inline-block; margin-right: 10px; margin-bottom: 20px; font-size: 12px; text-transform: uppercase; font-weight: 700;}
.team_overview .ranking div span {display: flex;align-items: flex-start;}

.team_overview .ranking div.past {display: flex; align-items: center; }
.team_overview .ranking div.past b{ padding: 0 10px;}
.team_overview  .ranking div span i{ color: #00a651; font-size: 20px; margin-right: 10px;}


.overview_box{ display: none; height: 0; transition: 0.3s ease-in;}
.team_row:hover .overview_box{ display: block; height: auto;}



.round{ width: 7px; height: 7px; border-radius: 50%; display: inline-block !important; margin-right: 5px;}
.green{ background: #00a651;}
.red{ background: #ff0c00;}
.range_slider .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: #848484;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s; position: static !important; margin-left: 0 !important;
}

.range_slider .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 7px;
  height: 7px;
  border-radius: 50%; 
  background: #000;
  cursor: pointer;
}

.range_slider .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}

.range_slider li:first-child{ font-size: 12px;}

.range_slider li:last-child {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
.range_slider li span{ border:1px solid #ddd; border-radius: 5px; padding: 5px 5px;}

.coach_overview .match{ width: 25%;}


.coach_overview .match p {
    font-size: 11px;
    font-weight: 400;
    text-transform: capitalize;
}


.arena_team_row{padding:70px 30px 70px 30px}
.arena_team_row h3 b{ display: block; font-size: 11px;}


.job_filter.team_filter .drop_downs .button-group{flex: 0 0 22%;}
.team_row.arena_team_row .mores{flex-direction: column; font-size: 12px;}
.team_row.arena_team_row .mores b{ color: #3db4ef;}


/* -------------- Ranking page --------------- */

.ranking_table{ float: left; width: 100%; background: #fff; border-radius: 5px; padding: 20px; margin-top: 20px;}

.heads_row, .row_box .cols_box{ display: flex;  flex-direction: row;  flex-grow: 1;    justify-content: space-between; }
.heads_row .heads, .row_box .cols{ flex:0 0 10%; text-transform: uppercase; font-size: 14px;  text-align: center; padding: 20px 0;}

.heads_row, .row_box{border-bottom: 1px solid #ddd;}

.more_data {
  align-items: center;
  display: none;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  text-transform: uppercase;
  margin-left: 55px;
  padding: 30px 0;
  border-top: 1px solid #ddd;
}
.more_data .pic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px
}
.more_data .pic .tumb{ border-radius: 5px; overflow: hidden; width: 90px; height: 90px;}
.more_data .pic .tumb img{ object-fit: cover; width: 100%; height: 100%;}
.more_data .pic h3{ font-size: 19px;}
.more_data .total{ font-size: 14px; text-transform: uppercase; text-align: center;}
.more_data .total p{ padding: 5px 0;}

.more_data .follows{ width: 220px;}
.more_data button{ background: #7239ea; padding: 10px 20px; text-align: center; color: #fff; font-size: 14px; border:0; width: 100%; border-radius: 5px; margin-bottom: 10px;}
.more_data .ate{ background: #343439;  padding: 10px 20px; color: #fff; font-size: 14px; border:0; width: 100%; border-radius: 5px; display: flex;
  align-items: center;
  justify-content: space-between;}
.more_data .ate .circle{ display: inline-block; width: 30px; height:30px; border-radius: 50%; border:1px solid #fff;}

.row_box:hover .more_data{ display: flex;}


/* ------------ Tournament category ---------------- */

.game_row{float: left; width:100%; margin-top: 50px; position: relative;  padding: 30px 2%; background: #dfdfdf; border-radius: 10px;}

.game_row .star {
  color: #000;padding: 5px 7px;position: absolute;top: 10px;left: 10px;border-radius: 5px;font-size: 25px;
}

.game_row .star.live{background: #7239ea; color: #fff;}
.game_row .star i{ font-size: 30px;}


.game_pos{ float: left; width: 27%; position: relative;}
.game_pos::after{     content: "";
  position: absolute;
  width: 10px;
  height: 264px;
  border-right: 2px solid #000;
  transform: skewX(-22deg);
  right: 0px;
  top: -29px;}
.right_game_details {
  float: right;
  width: 70%;
  display: flex;
  flex-direction: column; font-size: 18px;
}

.right_game_details .date h3{ display: block; font-size: 19px;}


.right_game_details button{background: #35353f; padding: 10px 20px; text-align: center; color: #fff; font-size: 18px; border:0; width:200px; border-radius: 5px; margin-bottom: 10px;}

.right_game_details button.active{background: #7239ea;}

.top_game, .bottom_game{ display: flex; justify-content: space-between;     align-items: center; margin-top: 50px;}
.top_game, .bottom_game .games{ display: flex; justify-content: space-between; align-items: center;}
.top_game, .bottom_game .games h3{ font-size: 19px;}
.top_game, .bottom_game .game_logo{display: flex; justify-content: space-between; align-items: center; margin-right: 10px;}
.top_game, .bottom_game .game_logo img{ margin-right: 10px;} 
.prize h3{ display: block; font-size: 19px; font-weight: 700;}


/* ---------- arena ------------------- */

.arena_bio .loc{ font-size: 11px; padding: 10px 0;}
.arena_bio .games h3{ font-size: 13px; margin-right: 10px;}
.arena_bio .internet ul{ display: flex; justify-content: space-between; margin-top: 20px;}
.arena_bio .internet li{ font-size: 14px; text-transform: uppercase; margin-top: 20px; border-right: 1px solid #ddd; padding-right: 20px;}
.arena_bio .internet li:last-child{ border:0}
.arena_bio .internet li b{ font-weight: 700; display: block;}


/* ------------ Match page ------------------- */

.match_page{ background: #fff; float:left; width: 100%; padding: 20px; border-radius: 5px;}
.match_page h2{ font-size: 20px; text-transform: uppercase; text-align: center;}
.match_page h2 b{ display: block;}
.match_page .pic{ width: 110px; height: 110px; background: #292931; display: inline-block; border-radius: 5px;} 
.match_heads{ float: left; width: 100%; margin: 30px 0;}
.match_heads ul {display: flex;justify-content: space-between; border:1px solid #ddd}
.match_heads ul li{ padding: 10px; border-left: 1px solid #ddd;}
.match_heads ul li h4{font-size: 13px; text-transform: uppercase; font-weight: 400; }
.match_heads ul li h3{font-size: 17px; text-transform: uppercase; font-weight: 700; }

.match_board {display: flex;width: 100%;justify-content: space-between; padding-top: 50px;}
.participate_team{ text-align: center;}
.participate_team .team_photo{ position: relative;}

.participate_team .team_photo .team_name{ font-size: 20px; text-transform: uppercase; font-weight: 700; 
  position: absolute; right: -70px; top:40px}
.participate_team .team_photo .count{font-size: 60px; text-transform: uppercase; font-weight: 700; position: absolute;  right: -170px; top:20px}
.participate_team .ranked, .participate_team .team_form{font-size: 16px; text-transform: uppercase; text-align: center; padding: 10px 0;  }
.participate_team .players .round{ width: 20px; height: 20px; font-size: 11px; text-align: center; line-height: 20px; color: #fff;}

.participate_team.rightside  .team_photo .team_name{ right:inherit; left: -40px;}
.participate_team.rightside .team_photo .count{ right:inherit; left: -140px;}

.participate_details{ text-align: center; width: 320px;}
.participate_details .live{ padding-bottom: 20px;}
.participate_details .live .round{width: 16px; height: 16px; vertical-align: bottom;}
.participate_details .date, .participate_details .time, .participate_details .map{font-size: 17px; text-transform: uppercase; font-weight: 700;}

.participate_details .head_to_head{ font-size: 20px; text-transform: uppercase; padding: 20px 0 10px 0;}
.participate_details .heads_num span{ border: 1px solid #ddd; display: inline-block; margin:0 1%; }
.participate_details .heads_num span b{ text-align: center; width: 40px; display: inline-block; padding: 10px 0;}
.participate_details .heads_num span b:first-child{ border-right: 1px solid #ddd;}

.players_box{ display: flex; width: 100%; justify-content: space-between; margin-top: 50px;}

.players_box .team_mem{ border-top: 1px solid #ddd; padding-top: 20px;}
.players_box .team_mem .pic{ margin-right: 5px; width: 90px; height: 90px;}

.stats_box{ float: left; width: 100%; margin-top: 50px;}
.stats_box h3{ background: #ddd; font-size: 20px; padding: 20px; width: 100%; display: block; border-radius: 5px; }


.stats_table { margin-top: 50px;}
.stats_table .bdr_clr_green{ border-left: 5px solid #00ff5b; font-size: 14px; font-weight: 700;}
.stats_table .bdr_clr_blue{ border-left: 5px solid #00deff; font-size: 14px; font-weight: 700;}
.stats_table .bdr_clr_green{ border-left: 5px solid #00ff5b; font-size: 14px; font-weight: 700;}

.stats_table .table{ border:1px solid #ddd}
.stats_table .table th{ font-style: italic; font-weight: 700; font-size: 14px; text-align: center;}
.stats_table .table td{ font-size: 13px; text-align: center; border-bottom:1px solid #ddd}
.stats_table .table th:first-child, .stats_table .table th:nth-child(2){ text-align: left;}
.stats_table .table td:first-child, .stats_table .table td:nth-child(2){ text-align: left;}

.stats_table .dp{ display: inline-block; width:30px; height:30px; border-radius: 5px; overflow:hidden; vertical-align: middle;}
.stats_table .dp img{ width: 100%; height: 100%; object-fit: cover;}
.stats_table .dp_name{ display: inline-block; font-size: 13px; vertical-align: middle;}
.stats_table .dp_name b{ display: block; font-weight: 700;}
.stats_table .star{ width: 20px; height: 20px; display: inline-block; border-radius: 50%; border:1px solid #ddd; text-align: center; line-height:17px;}
.stats_table .star .fa{ font-size: 11px;}

.stat_chart{ display: flex; justify-content: space-between; width: 100%;}
.stat_chart .chart1{ float: left; width: 100%; text-align: center; border:1px solid #ddd; text-align: center;}
.stat_chart h3{ text-transform: uppercase; font-size: 15px; font-weight: 700; padding: 10px; border-bottom: 1px solid #ddd; margin-bottom: 10px;}

.game_chart{ display: flex; flex-wrap: wrap; justify-content: center;}
.game_chart a{ flex:0 0 25%; margin: 20px 0;}

.game_chart .icon{ width: 30px; height: 30px; display:inline-block; border-radius: 50%; border:3px solid #000; line-height: 22px;}
.game_chart  h4{ font-size: 14px; color: #000; font-style: italic; font-weight: 700;}
.game_chart  p{font-size: 11px; color: #000; }