#kt_sign_up_form .bi{ font-size: 1.5rem;}

 ul, li{ list-style: none; margin: 0; padding: 0;}

body {
	margin:0;
	padding:0;
	font-family:'Titillium Web', sans-serif;
	font-weight:400;
	color:#000000;
	line-height:1.2;
	font-size: 14px;
	background:#f3f6f9;
}

/* ------   signup step1 and login -------------- */

.singup_page_box{ float: left; width: 100%; position: relative; overflow: hidden;}
.singup_page_box .text-red-600{ color:red;}
.singup_page_box .btn {background: #fff;width: 100%;color: #000;opacity: 1;height: 40px; line-height: 18px;}
.singup_page_box .btn.btn-icon{ background: none;}

.singup_page_box .singup_icons{ display: flex; justify-content: space-between; margin:20px 0;}
.singup_page_box .singup_icons a {border: 1px solid #2f2e32 !important;padding: 10px;width: 18%; text-align: center;}
.singup_page_box .singup_icons .fa{ color: #fff; font-size: 15px;}

.left_banner{ float: left; width:calc(100% - 500px); height: 100vh; 
background: #232741; 
background: -moz-linear-gradient(-45deg,  #232741 0%, #2e1d49 26%, #47085a 100%);
background: -webkit-linear-gradient(-45deg,  #232741 0%,#2e1d49 26%,#47085a 100%);
background: linear-gradient(135deg,  #232741 0%,#2e1d49 26%,#47085a 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232741', endColorstr='#47085a',GradientType=1 ); 
display: flex; align-items: center; justify-content: center; position: relative;}

.left_banner h1{ text-align: left; color: #fff; font-size: 58px;}
.left_banner .props{ position: absolute;}
.left_banner .logo {top: 17%;left: 23%;position: absolute;}
.left_banner .logo img{ width: 150px;}
.left_banner .props1 {top: 0;left: 6%;}
.left_banner .props2 {top: 25%;left: 7%;}
.left_banner .props3 {left: 2%;bottom: 26%;}
.left_banner .props4 {bottom: 14%;left: 11%;}
.left_banner .props5 {bottom: 10%;left: 15%;}
.left_banner .props6 {right: 20%;bottom: 15%;}
.left_banner .props7 {right: -24px;top: 10%;}
.left_banner .props8 {top: 29%;right: 41%;}
.left_banner .props9 {bottom: 20%; left: 17%;}

.right_form{ float: right; width: 500px; height: 100vh; background: #0f0e13; overflow-y: auto; display: flex;}
.right_form .form_box{ width: 80%;}
.right_form h2{ font-size: 25px; color: #fff; padding: 20px 0;}
.right_form label{ color: #fff;}
.right_form input{ min-height: 35px; height: 35px; border-radius: 3px; border:1px solid #2f2e32  !important}
.right_form .form-control-solid{ background: #0f0e13;}
.right_form  .form-check-input[type=checkbox]{min-height: 20px; height: 20px;}
.right_form .terms{ font-size: 11px !important;}
.right_form .already{ font-size: 14px;}
.right_form .mb-7, .right_form .mb-10{ margin-bottom: 10px !important}
.right_form h4{ color: #fff; font-size: 13px; text-align:center;}

/* ------   signup step2 -------------- */

.game_sect{ float: left; width: 100%; position: relative;}
.game_sect select{    -webkit-appearance: auto;-moz-appearance: auto;appearance: auto;}
.game_sect .two_btn{ display: flex; justify-content: space-between;}
.game_sect button{ width: 200px  !important; background: #1da1f3 !important; display:inline-block;}

.left_game{ float: left; width: 40%; height: 100vh;}
.left_game img{ width: 100%; object-fit: cover; height: 100%;}

.right_game_form {float: right;width: 60%;background: #15202b;padding: 0 5%;height: 100vh;display: flex;color: #fff;flex-direction: column;justify-content: center;}
.right_game_form h2{ color: #fff; text-align: left; }
.right_game_form h4{ color: #15629c; text-align: left;}
.right_game_form .gamer_photo{ display: flex; width: 100%; align-items: center;}
.right_game_form .gamer_photo .gamer_dp{ width: 260px; height: 130px; background: #ddd; border-radius: 5px;}
.right_game_form .gamer_photo .gamer_dp img{ width: 100%;}
.right_game_form .gamer_photo ul{ display: flex; flex-wrap: wrap; margin-left: 20px;}
.right_game_form .gamer_photo ul li{ flex:0 0 9%; margin: 10px; border-radius: 5px; overflow: hidden;}
.right_game_form .gamer_photo ul li img{ width: 100%;}
.right_game_form .pick_game{ margin: 20px 0;}
.right_game_form .pick_game ul{ display: flex; flex-wrap: wrap;}
.right_game_form .pick_game ul li{ flex:0 0 20%; margin: 10px; position: relative;}
.right_game_form .pick_game ul li .hovers {position: absolute;top: 50%;transform: translateY(-50%);height: 50px;text-align: center;width: 100%;height: 100%;background: rgba(0,0,0,0.5);display: flex;justify-content: center;align-items: center;flex-flow: column;opacity: 0;z-index: -1; transition: 0.3s ease-in-out;}
.right_game_form .pick_game ul li .hovers span{ display: block;}
.right_game_form .pick_game ul li:hover .hovers{ opacity: 1; z-index: 1;}


