
/*----------------------
    404 page
-----------------------*/

.body-404, .body-500 {
    background: #2b2b2d;
    color: #fff;
}

.error-wrapper {
    text-align: center;
    margin-top: 5%;
}

.error-wrapper .icon-404{
    background: url("/assets/media/404.png") no-repeat;
    width: 337px;
    height: 218px;
    display: inline-block;
    margin-left: 30px;
}

.error-wrapper h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 5px 0 30px -70px;
    display: inline-block;
    padding: 20px;
    border-radius: 4px;
    text-transform: capitalize;
    color:#fff;
}

.error-wrapper .green-bg {
    background: #5bc690;
}


.error-wrapper a.back-btn:hover {
    color: #5bc690;
}

.error-wrapper p, .error-wrapper a {
    font-size: 18px;
}

.error-wrapper p   {
    color: #a978d1;
}

.error-wrapper a.back-btn {
    color: #fff;
}


/*-----------------
    500 page
------------------*/


.error-wrapper .purple-bg {
    background: #a978d1;
}

.error-wrapper .darkgrey-bg {
    background: #444d56;
}

.body-500 .error-wrapper p a {
    color: #a978d1;
}

.body-500 .error-wrapper p {
    color: #63c18d;
}

.error-wrapper .icon-500{
    background: url("/assets/media/50x.png") no-repeat;
    width: 331px;
    height: 219px;
    display: inline-block;
}

.body-500 .error-wrapper h2 {
    margin: -5px 0 30px -50px;
    width: 300px;
}